@charset "UTF-8";    

html {
    /* 사용자 설정 문자 크기 그대로 반영 되도록 */
    font-size : 100%;
    background-color: #e8e8e8;
}

body {
    line-height: 2.0;
    color : #27282d;
}

/* 링크 밑줄 제거 */
a {
    text-decoration: none;
    color : #c2c2c2;
}

img {
    max-width: 100%;
}

/* 메인---------------------------------------------- */

.page-header{
    position: fixed;
    width: 100%;
}

.main-title{
    padding: 0px 50px 0px 50px;
    font-size: 3em;
}

/* 메인 제목 왼쪽 */
.box1{
    float: left;
}

/* 메인 제목 오른쪽*/
.box2{
    float: right;
    display: inline-block;
}


/* 메뉴 -----------------------------------------------------------------*/

/* nav 메뉴 장식 */
.main-nav {
    display: flex;
    text-transform: uppercase;
    font-size: 1.25em;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
}

ul { 
    list-style:none; 
    cursor:pointer 
}

li {
    display: inline-block;
    margin: 0px 40px 0px 40px;
    position: relative;
}

li > a:hover {
    color: black;
}

/* 밑줄 애니메이션 hover*/
.hover a::after {
    display: block; 
    content: "";
    border-bottom: 3px rgb(68, 68, 68) solid;
    transform: scaleX(0);
    transition: all 240ms ease;
    height: 0; width: 100%;
}

.hover a:hover::after {
    transform: scaleX(1);
 }

/*-------------------------------------------------------------*/

.circle {
    position: fixed;
    top : 300px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 250px;
    height: 250px;
    border: 5px solid #e8e8e8;
    border-radius: 50%;
    z-index: 100;
}

/* animation: rotate_image all linear infinite; */

@keyframes rotate_image{
    100%{
        transform: rotate(360dag);
    }
}

.home-content {
    padding: 0px 50px 0 50px;
}

.home-content h1{
    padding: auto;
    font-size: 5em;
    padding-top: 20%;
}

.home-content h2{
    padding: auto;
    font-size: 2.5em;
}

/* 배경이미지 --------------------------------------*/
#img-bg1{
    height:1980px;
    background-image: url("../images/img-bg2.jfif");
    background-size: contain;
}

#img-bg2{
    height:1980px;
    background-image: url("../images/img-bg3.jfif");
    background-size: contain;
}

#img-bg3{
    height:1980px;
    background-image: url("../images/img-bg4.jfif");
    background-size: contain;
}

.section {
    height: 900px;
}

/* 버튼 ------------------------------------------*/
.button{
    color :rgb(220, 220, 220);
    font-size: 2em;
    position: relative;
    left: 50px;
    top : 100px;
}

.button:hover {
    color : rgb(179, 179, 179);
}

.section h1 {
    margin-top: 20%;
    text-align: center;
    color: #e8e8e8;
}

#aboutMe {
    padding-bottom: 20px;
}


/* Project 페이지 ---------------------------------------------------------------------------*/


html .resume {
    /* 사용자 설정 문자 크기 그대로 반영 되도록 */
    font-size : 100%;
    background: #1f1f1f;
}

.wrapper{
    padding: 10% 300px 0 20%;
    display: flex;
    justify-content: center;
}

article {
    width: 74%;
    color: #e8e8e8;
}

aside {
    width: 30%;
}

.post-info {
    border-top:2px #c2c2c2 solid;
    border-bottom:2px #c2c2c2 solid;
    color: #fff;
    height: 100px;
    text-align: center;
    margin-bottom: 60px;
}

.post-date,
.post-cat {
    display: inline;
    justify-content :right;
}

article img {
    margin-bottom: 20px;
}

article p {
    margin-bottom: 1rem;
}

.blog-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 20px;
}


/* side bar ------------------------------------ */


.sub-title {
    font-size: 1.5em;
    padding : 0 8px 8px;
    font-weight: normal;
    text-align: center;
    color: #fa448c;
}
.sub-title mark {
    padding: 0 15px 0 15px;
    /* background: #c2c2c2; */
}

aside p {
    padding : 12px 10px;
}

.sub-menu {
    list-style: none;
    margin-bottom: 60px;
    text-align: center;
}

.sub-menu li {
    border-bottom: #fa448c;
    width: 60%;
}

.sub-menu a {
    font-size: 1.25em;
    color : #c2c2c2;
    padding : 10px;
    display: block;
}

.sub-menu a:hover {
    color : #fa448c;
}

#sidebar {
    display: flex;
}


.resume li > a:hover {
    color: #c2c2c2;
}

/* 밑줄 애니메이션 hover*/
.hover1 a::after {
    display: block; 
    content: "";
    border-bottom: 2px #fa448c solid;
    transform: scaleX(0);
    transition: all 240ms ease;
    color: #c2c2c2;
    height: 0; width: 100%;
}

.hover1 a:hover::after {
    transform: scaleX(1);
 }

 .sub-menu li::after {
    display: block; 
    content: "";
    border-bottom: 3px #fa448c solid;
    transform: scaleX(0);
    transition: all 240ms ease;
    height: 0; width: 100%;
}

.sub-menu li:hover::after {
    transform: scaleX(1);
 }


/* footer --------------------------------------------------- */
footer {
    text-align: center;
    padding: 16px 0;
}

footer p {
    color :#ffffff;
    border-top: 1px solid #a3a3a3;
}

/* contact grid ---------------------------------------------------------*/


.item1 img {
    width: 300px;
    height: 350px;
    object-fit: cover;
}

.grid1 {
    display:grid;
    justify-items:center;
    margin:30px 0 30px 0 ;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-flow: column;

}

.scale {
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: all 1s ease;   
 }
  .scale:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

 #contactfter small {
    color: #1f1f1f;
}







